body{
	margin: 0;
	padding: 0;
	background-color:#343434;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:#999;
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#999;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#999;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#999;
	opacity: 1;
}