doctype html
html(lang='en')
    head
        title Shadow Root Player
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
        link(href="index.css" rel="stylesheet")
        script(src='/js/shadow-player.js' defer)
    body
        shadow-player#__next(url="https://www.youtu.tv/stream/hls/master.m3u8")