doctype html
html(lang='en')
    head
        title Shadow Root Player
        meta(charset='utf-8')
        link(href="index.css" rel="stylesheet")
        script(src='/js/shadow-player.js' defer)
    body
        shadow-player(url="https://www.youtu.tv/stream/hls/master.m3u8")