doctype html
html(lang="en")
  head
    title 个人信息
    link(rel="stylesheet" href='lib/css/all.min.css')
    link(rel="stylesheet" href='lib/css/normalize.min.css')
    link(href="index.css" rel="stylesheet")
  body
    include ./profile.pug