.app
  section
    h1 
      | 祁彦龙
      i.fa.fa-mars
    table.profile
      tbody
        tr
          td.icon
            i.fa.fa-suitcase
          td 14年工作经验
          td.middle |
          td.icon
            i.fa.fa-book
          td 本科学历
          td.middle |
          td.icon
            i.fa.fa-building
          td 在职
      tr
        td.icon
          i.fa.fa-phone
        td 13522148400
        td.middle |
        td.icon
          i.fa.fa-comment
        td idzeir
        td.middle |
        td.icon
          i.fa.fa-envelope
        td qiyanlong@wozine.com
  section
    h1 我的优点
    hr
    p.blue
      | 前端React技术栈全面，开发经验丰富。多次0～1经验
      br
      | 有其他开发语言经验，视频行业工作多年，优先找技术管理岗位。
      
  section
    h1 求职意向
    hr
    ul.wanted
      li
        i.fa.fa-podcast
        | 前端Leader
      li 
        i.fa.fa-credit-card
        | 60~70K
      li
        i.fa.fa-street-view
        | 北京
    ul.wanted
      li
        i.fa.fa-podcast
        | 前端专家
      li 
        i.fa.fa-credit-card
        | 60~70K
      li
        i.fa.fa-street-view
        | 北京
  section
    h3 个人技术栈
    hr
    p.blue Typescript, React.js, Taro, Node.js, SSR 等
  section
    h3 工作经历
    hr
    .exp
      h4 
        | * 企鹅直播
        span https://live.qq.com
      ul
        li
          strong 部门:
          | 研发
        li
          strong 职位:
          | FE Leader
        li
          strong 时间:
          | 2018~现在
      h4 工作内容
      p.blue 团队管理，新技术栈落地,代码审核，需求把控。
        
      h4 工作成果
      p.blue 1、H5播放器开发
      p.blue 2、网站重构技术迁移
      p.blue 3、小程序重构技术迁移
      
    .exp
      h4
        | * ACFUN
        span https://www.acfun.cn
      ul
        li
          strong 部门:
          | 研发
        li
          strong 职位:
          | FE/Flash
        li
          strong 时间:
          | 2015~2018
      h4 工作内容
      p.blue ES6+Typescript+Node.js+React.js 开发前后端业务，Flash开发视频播放器
        
      h4 工作成果
      p.blue 1、主站播放器改版开发（Flash —> H5）
      p.blue 2、播放器组件库开发
      p.blue 3、活动⻚面开发
      
    .exp
      h4
        | * 搜狐畅游（17173）
        span https://www.17173.com
      ul
        li
          strong 部门:
          | 视频中⼼
        li
          strong 职位:
          | Flash⾼级工程师
        li
          strong 时间:
          | 2013.12~2015.4
      h4 工作内容
      p.blue 娱乐直播Flash全站开发，基础组件库开发维护
        
      h4 工作成果
      p.blue 1、flash全站直播间模块开发
      p.blue 2、组件库开发维护
      p.blue 3、点播播放器维护开发
      
    .exp
      h4
        | * 呱呱视频网
        span https://www.guagua.cn
      ul
        li
          strong 部门:
          | 基础研发
        li
          strong 职位:
          | Flash⾼级工程师
        li
          strong 时间:
          | 2012.7~2013.12
      h4 工作内容
      p.blue JS开发前端业务，Flash开发直播 播放器，页游，C端活动插件。
        
      h4 工作成果
      p.blue 1、Web聊天室开发
      p.blue 2、视频播放器开发
      p.blue 3、⽜牛，⻋行等直播游戏开发
      p.blue 4、端活动插件开发
      
    .exp
      h4
        | * 北京⾦鼎睿智科技有限公司
        span https://www.rzps.com
      ul
        li
          strong 部门:
          | 研发
        li
          strong 职位:
          | 软件架构/游戏开发
        li
          strong 时间:
          | 2009~2012.7
      h4 工作内容
      p.blue 睿智宝贝教育类软件从1.0~5.0各版本的设计开发，内容小游戏制作。
        
      h4 工作成果
      p.blue 1、教育软件架构设计
      p.blue 2、软件框架编码
      p.blue 3、小游戏开发
      p.blue 4、协调硬件厂商
      
  section
    h3 项目经验
    hr
    .exp
      h4
        | * 线下弹幕墙
        span JS全站+Flash Air客户端
      h4 项目内容
      p.blue 1、Node.js 负责服务器后端，功能包括聊天系统，后端mongodb数据支持。有限状态机分组敏感词系统
      p.blue 2、Typescript+React前端开发，包括前后台⻚面 
      p.blue 3、Flash开发弹幕墙客户端，功能包括将本地视频，图片，文字，以及服务器弹幕合成后同步投屏到大屏幕
    .exp
      h4
        | * AcFun播放器重构
        span Typescript + React
      h4 项目内容
      p.blue 重构A站点播 播放器，优化海量弹幕显示性能。播放器引入延迟渲染机制和多线程功能。
    .exp
      h4
        | * 17173娱乐直播
        span Flash + JS
      h4 项目内容
      p.blue Flash版全站直播项目，内容包含推拉流，视频直播，礼物系统，图文混排聊天系统等等
    .exp
      h4
        | * 呱呱视频Web聊天室
        span Flash
      h4 项目内容
      p.blue 移植pc端聊天室，开发Web端多视频聊天室。
    .exp
      h4
        | * 睿智宝⻉系列软件
        span Flash
      h4 项目内容
      p.blue 开发设计幼教类教育软件，后期开发可移动U盘软件。
      
  section
    h3 教育经历
    hr
    .exp.blue
      ul
        li 北京理工大学	
        li 计算机科学与技术
        li 2003~2007
        
  section
    h3 演示和成果
    hr
    p.blue
      i.fa.fa-share-alt
      a(href="https://www.youtu.tv/render", target="blank") https://www.youtu.tv/render
    p.blue
      i.fa.fa-share-alt
      a(href="https://www.youtu.tv/player", target="blank") https://www.youtu.tv/player
    p.blue
      i.fa.fa-share-alt
      a(href="https://live.qq.com", target="blank") https://live.qq.com

  section
    h3 其它经历
    hr
    .blue 2007~2009 在传统餐饮行业做电子点菜系统（电子菜谱）