doctype html
html(lang="en")
  head
    title 中华人民共和国证券投资基金法
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(href="index.css" rel="stylesheet")
    script(src='/js/law.js' defer)
  body
    .law